/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.flexColumnCenter {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
/******************************************
/* BODY STYLES
/*******************************************/

body {
  background: linear-gradient(90deg, rgba(37,44,53,1) 0%, rgba(119,195,236,1) 50%, rgba(144,204,144,1) 100%);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
 }

/******************************************
/* HEADER STYLES
/*******************************************/

header {
 text-shadow: 3px 3px black;
}
h1 {
font-family: "Roboto", sans-serif;
font-weight: 900;
font-size: 2.5rem;
color: white;
}

/******************************************
/* TUTORIAL SECTION STYLE
/*******************************************/

.popBox {
  background-color: white;
  width: 40%;
  height: 250px;
  border: 4px solid #252C35;
}

@media screen and (max-width: 800px) {
.popBox {
  height: 100%;
  width: 90%;
  text-align: center;
  padding-bottom: 10px;
}
}
  
#tutorialSection p {
 width: 80%;
 text-align: center;
}


#tutorialSection h2 {
font-size: 1.5rem;
}

.bigButton {
  border: 2px solid #252C35;
  background-color: orangered;
  width: 20%;
  padding: 1% 0;
  text-align: center;
  color: white;
  font-weight: 900;
}

/******************************************
/* GAME SECTION STYLE
/*******************************************/
#gameSection {
  display: none;
  flex-direction: column;
  align-items: center;
}

.infoDiv {
  background: white;
  border: 2px solid #252C35;
  padding: 5%;
}

/******************************************
/* TWEET MECHANICS
/*******************************************/

#tweetHelp{
  color: white;
  font-size: 0.75rem;
  margin-bottom: 1%;
}
#tweetButton {
  width: 200px;
  height: 60px;
}

/* Both Counters Together */
#tweetInfo {
  margin-top: 5%;
  width: 100%;

}


/******************************************
/* CLASS MECHANICS
/*******************************************/

#hostClassSection {
 margin-top: 20px;
 display: none;
}

#classHelp {
  color: white;
  font-size: 0.75rem;
  margin-bottom: 1%;
  margin-left: 12%;
}

.hostButton {
background-color:  #6441a5;
border: 2px solid #252C35;
padding:  1rem 2rem;
margin-top: 0;
text-align: center;
color: white;
}

.classView {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.classRun {
  background-color: grey;
}


/*****************
**** GAME WIN ****
*****************/
.gameWinBox {
display: none;
flex-flow: column;
justify-content: flex-start;
align-items: center;
border: 10px solid gold;
}

#gameWinSection p {
  width: 80%;
  text-align: center;
 }
 
 
 #gameWinSection h2 {
 font-size: 1.5rem;
 }